<div class="container  mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 shadow-lg mt-5 mb-5 text-center rounded-3  col-sm-12">
            <h3 class="text-center p-3">Sign-Up</h3>
            <form class="example-form container" [formGroup]="signupForm" (ngSubmit)="signupForm.valid && onSubmit()"
                novalidate>
                <div class="row d-flex">
                        <mat-form-field class="example-full-width form-group">
                            <mat-label>Firstname</mat-label>
                            <input matInput formControlName="firstname" >
                            <mat-error *ngIf="firstName.hasError('pattern') && !firstName.hasError('required')">Please
                                enter a valid First Name</mat-error>
                            <mat-error *ngIf="firstName.hasError('required')">
                                First Name is required</mat-error>
                        </mat-form-field>
                </div>
                <div class="row d-flex">

                    <mat-form-field class="example-full-width form-group">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" >
                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Please enter a
                            valid email address</mat-error>
                        <mat-error *ngIf="email.hasError('required')">
                            Email is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row d-flex">
                    <app-chips [food]="food" [selectedFood]="selectedFood" (removeFoodEvent)="removeFood($event)" (selectedFoodEvent)="addItem($event)" ></app-chips>
                </div>
                <div class="col pb-5">
                    <button mat-raised-button color="primary" type="submit" class="example-full-width">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
