<div class="container  mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-6 shadow-lg mt-5 mb-5 text-center rounded-3  col-sm-12">
            <h3 class="text-center p-3">Sign-Up</h3>
            <form class="example-form container" [formGroup]="signupForm" (ngSubmit)="signupForm.valid && onSubmit()"
                novalidate>
                <div class="row d-flex">
                        <mat-form-field class="example-full-width form-group">
                            <mat-label>Firstname</mat-label>
                            <input matInput formControlName="firstname" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="firstName.hasError('pattern') && !firstName.hasError('required')">Please
                                enter a valid First Name</mat-error>
                            <mat-error *ngIf="firstName.hasError('required')">
                                First Name is required</mat-error>
                        </mat-form-field>
                </div>
                <div class="row d-flex">

                    <mat-form-field class="example-full-width form-group">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" [errorStateMatcher]="matcher">
                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">Please enter a
                            valid email address</mat-error>
                        <mat-error *ngIf="email.hasError('required')">
                            Email is required</mat-error>
                    </mat-form-field>
                </div>
                <div class="row d-flex">
                    <app-chips></app-chips>
                </div>
                <div class="col pb-5">
                    <button mat-raised-button color="primary" type="submit" class="example-full-width">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
















<!-- <div class="row d-flex mb-5">
    <div class="col">
        <mat-form-field class="example-full-width form-group">
            <mat-label>Password</mat-label>
            <input type="password" id="password" matInput formControlName="password" [errorStateMatcher]="matcher" [type]="password_hide ? 'password' : 'text'">
            <mat-hint *ngIf="password.valid">Looks Strong Like You!</mat-hint>
            <mat-error *ngIf="password.hasError('pattern') && !password.hasError('required')">Password
                must include 1 uppercase, 1 special symbol and 1 number</mat-error>
            <mat-error *ngIf="password.hasError('required')">
                Password is required</mat-error>
                <a mat-icon-button matSuffix (click)="password_hide = !password_hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="password_hide">
            <mat-icon>{{password_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </a>
        </mat-form-field>
    </div>
  
</div> -->


<!-- <div class="col">
    <mat-form-field class="example-full-width form-group">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput  formControlName="confirmpassword" [errorStateMatcher]="matcher" [type]="confirmPassword_hide ? 'password' : 'text'" >
        <mat-error *ngIf="confirmPassword.hasError('required')">Required Field</mat-error>
        <mat-error *ngIf="confirmPassword.hasError('matching')">Passwords not matched</mat-error>
        <a mat-icon-button matSuffix (click)="confirmPassword_hide = !confirmPassword_hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="confirmPassword_hide">
        <mat-icon>{{confirmPassword_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
</a>
    </mat-form-field>
</div> -->