<mat-chip-grid #chipGrid aria-label="Fruit selection">
  <mat-chip-row *ngFor="let food of selectedFood" (removed)="remove(food)">
    {{food}}
    <button matChipRemove [attr.aria-label]="'remove ' + food">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-chip-row>
</mat-chip-grid>
<mat-form-field class="example-full-width">
  <mat-label>Select Food</mat-label>
    <mat-select    [formControl]="topping" (selectionChange)="selected($event)">
    <mat-option *ngFor="let food of food" [value]="food">{{food}}</mat-option>
  </mat-select>
  
</mat-form-field>
